* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --primary-100: #ff6600;
  --primary-200: #ff983f;
  --primary-300: #ffffa1;
  --accent-100: #00bfff;
  --accent-200: #00619a;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #1f1f1f;
  --bg-200: #2e2e2e;
  --bg-300: #464646;
}
html {
  scroll-behavior: smooth;
}

body {
  transition: 0.3s;
  background-color: var(--bg-100);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}

/* start header  */
.header-area {
  position: relative;
  z-index: 2;
  background-color: var();
}

.header-area .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-200);
}

.header-area .logo {
  color: var(--primary-200);
}

.header-area .container .search-bar input {
  outline: none;
  border: none;
  height: 35px;
  width: 250px;
  padding-left: 20px;
  border-radius: 5px;
}
.header-area .container .search-bar button {
  outline: none;
  height: 35px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80px;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header-area .container .search-bar button {
    display: none;
  }
  .header-area .container .search-bar input {
    display: none;
  }
}
.header-area .container .header-links .links {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  color: var(--text-100);
}
.header-area .container .header-links .links li a {
  color: var(--text-100);
  transition: 0.3s;
  font-size: 18px;
}
.header-area .container .header-links .links li a:hover {
  color: var(--primary-200);
}
/* end header  */
.accounts {
  position: relative;
  margin-bottom: 50px;
}
.accounts .container {
  padding-left: 0;
  padding-right: 1px;
}
.accounts .container .accounts-header {
  position: fixed;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-100);
  top: 70px;
  z-index: 999;
  background-color: var(--bg-100);
}
.accounts .container .accounts-header h1 i {
  cursor: pointer;
}
.accounts .container .accounts-header .details {
  color: var(--accent-100);
}
.accounts .container .accounts-header .details {
  display: flex;
  gap: 20px;
}
.accounts .container .accounts-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
}
.accounts .container .accounts-cards .card {
  width: 100%;
  background-color: var(--bg-200);
  color: var(--text-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.accounts .container .accounts-cards .card .mail-details .mail {
  font-size: 22px;
  font-weight: bold;
}
.accounts .container .accounts-cards .card .mail-details .pass {
  background-color: transparent;
  border: none;
  font-size: 20px;
  display: block;
  margin-top: 20px;
  color: white;
  width: fit-content;
}
.accounts .container .accounts-cards .card .mail-details .console {
  color: var(--text-100);
  background-color: var(--accent-100);
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  font-size: 15px;
}
.accounts .container .accounts-cards .card .mail-details .edit {
  color: var(--text-100);
  background-color: #72cc50;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.accounts .container .accounts-cards .card .mail-details .reset {
  color: var(--text-100);
  background-color: #dc3545;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}
.accounts .container .accounts-cards .card .mail-details .codes {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}
.accounts .container .accounts-cards .card .mail-details .codes p {
  cursor: pointer;
  transition: 0.3s;
  color: var(--text-100);
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.164);
}
.accounts .container .accounts-cards .card .mail-details .codes .active {
  color: red;
}
table,
th,
td {
  border-collapse: collapse;
  padding: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.accounts .container .accounts-cards .card table tbody tr .available {
  background-color: #72cc50;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
}
.accounts .container .accounts-cards .card table tbody tr .available.not {
  background-color: #dc3545;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
}
.accounts .container .accounts-cards .card table tbody tr td i {
  cursor: pointer;
  transition: 0.3s;
}
.accounts .container .accounts-cards .card table tbody tr td button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  color: white;
  background-color: #dc3545;
}
select {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  color: #fff;
  background-color: var(--bg-300);
  background-image: none;
  cursor: pointer;
  padding-left: 10px;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  height: 25px;

  width: 50px;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: var(--primary-100);
}
